<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAMlp47uKfQgtkOcHn46rZ2b1SbUd282Fg</string>
	<key>GCM_SENDER_ID</key>
	<string>204623226066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.audioPlayer</string>
	<key>PROJECT_ID</key>
	<string>audio-recorder-bbe62</string>
	<key>STORAGE_BUCKET</key>
	<string>audio-recorder-bbe62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204623226066:ios:6c5c33fa680246f2fbb90b</string>
</dict>
</plist>